node_modules
**/node_modules
.venv
.venv*
.pytest_cache
.mypy_cache
.venv311
__pycache__
.git
.git/**
*.pyc
*.pyo
*.pyd
*.sqlite3
*.mp3
*.mp4
*.mkv
episodes/**
dist
build
*.egg-info
.DS_Store
npm-debug.log
yarn-error.log
